<section>
    <div class="container mt-5">        
        <table class="table mt-5" id="orders-table">
            <thead>
                <tr>                    
                    <th scope="col">Ordered User</th>
                    <th scope="col">Mobile Number</th> 
                    <th scope="col">Cart Total</th>                              
                    <th scope="col">Payment-Method</th>                    
                </tr>
            </thead>
            <tbody>
               
                <tr>
                    <td>sfda</td>
                    <td>sadg</td>
                    <td>fsad</td>             
                    <td>sda</td>                        
                </tr>
                
            </tbody>
        </table>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#orders-table').DataTable();
    });
</script>